h1{
    font-size: xx-large;
}
#navbar{
    display:flex;
    align-items: center;  
}
#logo{
    margin:10px 34px;
}

#logo img{
    height:60px;
    margin:3px 6px;
}

#navbar ul {
    display:flex;
    
}

#navbar::before{
    content:"";
    background-color: black;
    position:absolute;
    height: 13%;
    width: 100%;
    opacity:0.4;
    z-index: -1;
}

#navbar ul li{
    list-style:none;
    
}

#navbar ul li a{
    display:block;
    padding:3px 22px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color:black;
    background-color: white;
    display:block;
    padding:3px 22px;
    border-radius: 20px;
}
body{
    text-align: center;
    font-size: xx-large;
}
#frame{
    padding: 15;
    width: 340;
}
#frame2{
    padding: 15;
    width: 340;
}
#frame3{
    padding: 15;
    width: 340;
}